/.curseclient
/.ReAuth.cfg
/astralsorcery
/backups
/BotaniaVars.dat
/cache
/caches
/config
/crafttweaker.log
/crash-reports
/downloads
/dropt.log
/dumps
/knownkeys.txt
/llibrary
/local
/logs
/minecraftinstance.json
/mods
/options.txt
/optionsof.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/resources
/roots.log
/saves
/screenshots
/seen_buildersbag_addons.txt
/shaderpacks
/simple-rpc
/structures
/tv-cache
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap